/* @import 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700'; */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900);
@import './variables';
@import './custom-media';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
button {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: #DDD;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  min-height: 100%;
}

p {
  margin: 0;
}

.thtrm-main {
  margin: 0 auto;
  padding: 0 0 0 0;
  min-height: 100%;

  @media all and (--desktop-viewport) {
    min-height: initial;
  }
}

.thtrm-background-blue,
.thtrm-background-dark-blue,
.thtrm-background-darker-blue {
  color: #fff;
}

.thtrm-background-blue {
  background: var(--thtrm-color-blue);
}

.thtrm-background-dark-blue {
  background: var(--thtrm-color-dark-blue);
}

.thtrm-background-darker-blue {
  background: var(--thtrm-color-darker-blue);
}

.thtrm-section {
  padding: 5em 2em;

  @media all and (--desktop-viewport) {
    padding: 10em 6em;
  }
}

.thtrm-section-headline {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;

  @media all and (--desktop-viewport) {
    font-weight: 600;
    font-size: 42px;
  }
}

.thtrm-section-text {
  margin-top: 1em;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;

  @media all and (--desktop-viewport) {
    font-size: 20px;
    line-height: 32px;
  }
}

.thtrm-layout-constraint {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;

  @media all and (--tv-viewport) {
    max-width: 1400px;
  }
}

.thtrm-layout-divider {
  padding: 8em 4em;
  text-align: center;

  &.--is-promo {
    background: rgba(56, 76, 84, 1);
    padding: 2em;
  }
}

.thtrm-layout-divider-headline {
  font-size: 32px;
  text-transform: uppercase;
  margin: 0;
  color: rgba(56, 76, 84, 1);

  .--is-promo & {
    color: #fff;
    font-size: 24px;
  }
}

.thtrm-layout-divider-text {
  width: 800px;
  margin: 0 auto;
  margin-top: 1em;
  color: rgba(56, 76, 84, 1);
  text-align: center;
  font-size: 20px;
  line-height: 28px;

  .--is-promo & {
    color: #fff;
    margin-top: 0.5em;
    font-size: 18px;
  }
}

.thtrm-layout-divider-cta {
  color: rgba(56, 76, 84, 1);
  border: 2px solid rgba(56, 76, 84, 1);
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1em;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1em;

  .--is-promo & {
    color: #fff;
    border-color: #fff;
  }

  &:hover {
    color: var(--thtrm-color-even-darker-blue);
    background-color: #fff;
  }
}

.thtrm-testimonial {
  background: var(--thtrm-color-even-darker-blue);

  .thtrm-table-layout-cell:nth-child(2) & {
    background: rgb(29, 46, 53);
  }

  .thtrm-table-layout-cell:nth-child(4) & {
    background: rgb(29, 46, 53);
  }
}

.thtrm-testimonial-image {
  height: 250px;
  background-color: var(--thtrm-color-blue);
  background-image: url('assets/testimonial-mike.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #90BAC7;
  background-blend-mode: multiply;
  text-align: center;
  position: relative;

  .thtrm-table-layout-cell:nth-child(2) & {
    background-image: url('assets/testimonial-celine.jpg');
  }

  .thtrm-table-layout-cell:nth-child(3) & {
    background-image: url('assets/testimonial-eren.png');
  }

  .thtrm-table-layout-cell:nth-child(4) & {
    background-image: url('assets/testimonial-brad.jpeg');
  }
}

.thtrm-testimonial-name {
  color: #fff;
  margin: 0;
  font-size: 22px;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  bottom: 1em;
  left: 1em;

  span {
    display: block;
    font-size: 16px;
  }
}

.thtrm-testimonial-content {
  padding: 2em;
  height: 240px;

  p {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
  }
}


.thtrm-footer {
  background-color: #fff;
  text-align: center;
}

.thtrm-footer-text {
  color: var(--thtrm-color-even-darker-blue);
  padding: 4em;
  background-color: rgb(29, 46, 53);

  p {
    line-height: 28px;
    color: rgb(109, 146, 160);

    &:first-child {
      color: #fff;
    }
  }

  a {
    text-decoration: none;
    color: rgb(109, 146, 160);
    font-weight: 600;
  }
}

.thtrm-footer-text-cta {
  color: var(--thtrm-color-even-darker-blue);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 2em;
}

.thtrm-footer-cta {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid var(--thtrm-color-even-darker-blue);
  display: inline-block;
  padding: 0.5em 1em;
  font-weight: 600;

  &:hover {
    color: #fff;
    background-color: var(--thtrm-color-even-darker-blue);
  }

  .thtrm-footer-text-cta & {
    margin-left: 0.5em;
  }
}

.thtrm-footer-headline {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

@import './thtrm-header';
@import './thtrm-banner';
@import './thtrm-table-layout';
@import './thtrm-teaser';
@import './thtrm-instructor';
