/* @import 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700'; */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900);
@import './variables';
@import './custom-media';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
button {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  min-height: 100%;
}

p {
  margin: 0;
}

.thtrm-main {
  margin: 0 auto;
  margin-top: -70px;
  padding: 0 0 0 0;
  min-height: 100%;

  @media all and (--tablet-viewport) {
    margin-top: -125px;

    body.--sub-site & {
      margin-top: 0;
    }
  }

  @media all and (--desktop-viewport) {
    min-height: initial;
  }
}

.thtrm-layout-constraint {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;

  @media all and (--tv-viewport) {
    max-width: 1400px;
  }
}

.thtrm-background-light-gray {
  background: #eee;
}

@import './thtrm-header';
@import './thtrm-banner';
@import './thtrm-section';
@import './thtrm-table-layout';
@import './thtrm-teaser';
@import './thtrm-instructor';
@import './thtrm-testimonial';
@import './thtrm-footer';
