@import './custom-media';

.thtrm-banner {
  background-image: url('assets/intro-background-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #90BAC7;
  background-blend-mode: multiply;

  @media all and (--tablet-viewport) {
    background-image: url('assets/intro-background-tablet.jpg');
    background-size: initial;
  }

  @media all and (--desktop-viewport) {
    background-image: url('assets/intro-background-desktop.jpg');
  }
}

.thtrm-banner-text {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: bold;
  line-height: 36px;

  @media all and (--phablet-viewport) {
    font-size: 44px;
  }

  @media all and (--tablet-viewport) {
    font-size: 64px;
    line-height: 56px;
  }

  @media all and (--desktop-viewport) {
    font-size: 64px;
    line-height: 68px;
  }
}

.thtrm-banner-tagline {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin: 0 auto;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: 500;
  width: 300px;

  @media all and (--phablet-viewport) {
    font-size: 18px;
    line-height: 22px;
    width: 420px;
  }

  @media all and (--tablet-viewport) {
    font-size: 20px;
    line-height: 32px;
    width: 600px;
  }

  @media all and (--desktop-viewport) {
    width: 800px;
  }
}

.thtrm-banner-container {
  padding: 16em 0.5em;

  @media all and (--tablet-viewport) {
    padding-top: 22em;
    padding-bottom: 22em;
  }

  @media all and (--desktop-viewport) {
    padding-top: 23em;
    padding-bottom: 21em;
  }
}
