@import './variables';
@import './custom-media';

.thtrm-teaser {
  background-color: var(--thtrm-color-blue);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #90BAC7;
  background-blend-mode: multiply;
  text-align: center;
  padding: 6em 0;

  @media (--phablet-viewport) {
    padding: 8em 0;
  }

  @media (--desktop-viewport) {
    padding: 10em 0 6em;
  }

  &.--code-review {
    background-image: url('assets/teaser-background-code-review.jpg');

    @media (--phablet-viewport) {
      background-image: url('assets/teaser-background-code-review_phablet.jpg');
    }

    @media (--tablet-viewport) {
      background-image: url('assets/teaser-background-code-review.jpg');
    }
  }

  &.--online-training {
    background-image: url('assets/teaser-background-online-training_phone.jpg');

    @media (--phablet-viewport) {
      background-image: url('assets/teaser-background-online-training_phablet.jpg');
    }

    @media (--tablet-viewport) {
      background-image: url('assets/teaser-background-online-training_phone.jpg');
    }
  }

  &.--onsite-training {
    background-image: url('assets/teaser-background-onsite-training_phone.jpg');

    @media (--phablet-viewport) {
      background-image: url('assets/teaser-background-onsite-training_phablet.jpg');
    }

    @media (--tablet-viewport) {
      background-image: url('assets/teaser-background-onsite-training_phone.jpg');
    }
  }
}

.thtrm-teaser-headline {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  font-size: 24px;
  margin-bottom: 0.8em;
}

.thtrm-teaser-cta {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #fff;
  display: inline-block;
  padding: 0.5em 1em;
  font-weight: 600;

  &:hover {
    background-color: #fff;
    color: #123742;
  }
}
