:root {
  --thtrm-color-blue: #4D8799;
  --thtrm-color-logo-blue: #4D8799;
  --thtrm-color-dark-blue: #3E6F7E;
  --thtrm-color-darker-blue: #123742;
  --thtrm-color-even-darker-blue: rgb(56, 76, 84);
}
